body {
    background-color: rgba(0, 0, 0, 0.904);
    font-family: "consolas", "Helvetica";
    margin-left: 5%;
    margin-right: 5%;
    color: white;


}


img:hover {
    /* filter: brightness(50%); */
}

a:hover {
    filter: brightness(50%);
    cursor: pointer;
}

button:hover {
    filter: brightness(50%);
    cursor: pointer;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.social {
    max-width: 62.5px;
    max-height: 62.5px;
}

.left-header,
.right-header {
    display: flex;
    gap: 16px;
    align-items: center;
}

.right-header .resume {
    border: solid white 2px;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.right-header p {
    margin: 0px;
}

h1 {
    /* margin-bottom: 0px; */

}

.intro {
    font-size: xx-large;
}

.media-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-around;
    align-items: center;
}

.media-container iframe {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    margin: 0;


}

.media-container img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    margin: 0;

}

p,
img,
iframe {

    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 16px;

}

.projects-container {
    /* border: solid blue 2px; */
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.project {
    /* border: solid red 2px; */
    background-color: rgba(128, 128, 128, 0.178);
    padding: 16px;
    display: flex;
    flex-direction: column;


}

.project-content {
    display: flex;
}

.project-text {
    width: 70%;
}

div {
    /* border: solid green 2px; */
}

h2 {
    margin: 0px;
    padding-top: 16px;
}



a {
    text-decoration: none;
    color: white;
}

.textLink {
    text-decoration: underline;
    font-weight: bolder;
    
}

button a {
    color: black;
}

.backBtn {
    background-color: rgba(128, 128, 128, 0.178);
    font-size: 30px;
    border: none;
    border-radius: 12px;
    color: white;
    position: fixed;
}

p {

    max-width: 75ch;

}

.skillBtns button {
    background-color: rgba(128, 128, 128, 0.178);
    font-size: 15px;
    border: none;
    border-radius: 12px;
    color: white;
    margin-top: 5px;
}