body{
    background-color:rgba(0, 0, 0, 0.904);
    font-family: "consolas", "Helvetica";
    margin-left: 15%;
    margin-right: 15%;
    color: white;
   

}


img:hover { filter: brightness(50%); }

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.social {
    max-width: 62.5px;
    max-height: 62.5px;
}

.left-header, .right-header {
    display: flex;
    gap: 16px;
}

h1 {
    margin-bottom: 0px;

}

.intro {
    font-size: xx-large;
}

.media-container {
    display: flex;
    flex-direction: column; 
}

.media-container iframe {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    
}

.media-container img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

p, img, iframe {

    margin-left: 1%;
    margin-right: 1%;
    
}
